@model NozomDashBoard.Models.DashBoardModel
<html>
<head>
    <title>DashBoard</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/DashBoard.js"></script>
</head>
<body onload="CheckServerState(5000)">
    @Html.ActionLink("Back", "ProjectSelection", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Sign out", "LogOff", "Account",null, new { @class = "btn btn-danger" })
</body>
   
    @Html.Partial("DashBoardPartial")
</html>
